p {
  font-family: Lato;
}

.black-background {
  --ion-background-color: #000000;
}

.circle-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  --border-radius: 120px;
  --background: grey;
}
